*{
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    color: #333;
}

body {
    height: 3000px;
    position: relative;
    /* overflow: hidden; */
}

.meizu-header-wrap {
    width: 1903px;
    height: 82px;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.meizu-header-inner{
    width: 1240px;
    height: 100%;
    margin: 0 auto;
    background: transparent;
}

.meizu-header-wrap .meizu-header-inner .icon-gouwuche,.meizu-header-wrap .meizu-header-inner .icon-denglu {
    float: right;
    font-size: 20px;
    line-height: 82px;
    margin-right: 10px;
    color: gray;
}
/* 注册登录 购物车按钮样式 */

.meizu-header-inner-search {
    position: relative;
    float: right;
    margin: 26px 10px 0 10px;
    width: 170px;
    height: 30px;
    line-height: 29px;
    font-size: 12px;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #999;
    box-sizing: border-box;
}

.meizu-header-inner-search-input {
    display: block;
    border: none;
    padding: 0;
    outline: 0;
    width: 127px;
    height: 20px;
    margin-left: 15px;
    margin-top: 5px;
    transition: width .5s;
    font-size: 12px;
    line-height: 20px;
    color: #333;
    background: transparent;
    box-sizing: content-box;
    outline-offset: 0;
}
/* 头部搜索框样式 */

.meizu-header-inner-ul {
    list-style: none;
    float: right;
    height: 100%;
}

.meizu-header-inner-ul li {
    float: left;
    line-height: 82px;
    padding: 0 20px;
    font-size: 14px;
}

.meizu-header-inner-ul-blank {
    background: white;
    width: 1903px;
    height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    overflow: hidden;
}

.meizu-header-inner-ul-blank ul {
    width: 1240px;
    height: 191px;
    margin: 0px auto;
    position: absolute;
    left: 50%;
    /* bottom: 0; */
    top: 74px;
    transform: translateX(-50%);
    text-align: center;
}

.meizu-header-inner-ul-blank ul li {
    float: left;
    width: 142px;
    height: 140px;
    padding: 5px 5px 20px;
    /* background: pink; */
}

.meizu-header-inner-ul-blank ul li img {
    width: 120px;
    height: 120px;
}

.meizu-header-inner-ul li:hover {
    color: #00b9f2;
}

.meizu-header-wrap .logo {
    float: left;
    margin-top: 32px;
    width: 110px;
    height: 20px;
    background: url(../img/base.png) no-repeat -2px -4px;
}

.meizu-header-wrap .meizu-header-inner .iconfont {
    color: #ccc;
}
/* 导航样式 */

.meizu-banner {
    width: 1903px;
    height: 670px;
    position: relative;
    overflow: hidden;
}

.meizu-banner li {
    width: 100%;
    height: 670px;
    position: absolute;
    top: 0;
    left: 1903px;
    overflow: hidden;
}

.meizu-banner img {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    
}

.banner-btn {
    width: 500px;
    padding: 0 10px;
    height: 25px;
    position: absolute;
    z-index: 20;
    left: 50%;
    margin-left: -250px;
    bottom: 20px;
    text-align: center;
}

.banner-btn span{
    display: inline-block;
    zoom: 1;
    width: 8px;
    height: 8px;
    background-color: #ccc;
    margin: 5px 8px;
    border-radius: 50%;
    cursor: pointer;
}

.banner-btn span.hover {
    width: 7px;
    height: 7px;
    background-color: transparent;
    border: 1px solid white;
}
/* banner图样式 */

.meizu-index-container {
    background: #f4f4f4;
    min-width: 1240px;
    overflow: hidden;
}

.meizu-index-container-center {
    width: 100%;
    height: 278px;
    background: white;
    margin-bottom: 50px;
    text-align: center;
}

.meizu-index-container-center ul {
    max-width: 1240px;
    margin: 0 auto;
    list-style: none;
}

.meizu-index-container-center ul li {
    height: 232px;
    float: left;
    position: relative;
    width: 25%;
    padding-top: 45px;
    font-weight: 400;
    font-style: normal;
    /* background: pink; */
}

.meizu-index-container-center ul li img {
    width: 130px;
}

.meizu-index-container-center ul li h4 {
    font-size: 20px;
}
/* 中心图片样式 */

.phone-box {
    margin-bottom: 50px;
    background: #f4f4f4;
}

.phone-box-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.phone-box-title h3{
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
}

.phone-box-img {
    height: 450px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}

.phone-box-img a {
    position: relative;
    display: block;
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.phone-box-img img {
    position: absolute;
    width: auto;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
/************************* 手机板块样式-标题图片 **************************/

.phone-box-center-wrap {
    width: 1240px;
    height: 1400px;
    margin: 0 auto;
    text-align: center;
}

.phone-box-center-wrap li {
    float: left;
    position: relative;
    width: 303px;
    height: 375px;
    margin-right: 9px;
    margin-top: 10px;
    background-color: #fff;
    overflow: hidden;
    text-align: center;
}

/* .phone-box-center-wrap .big {
    width: 615px;
    height: 610px;
} */
.phone-box-center-wrap ul li:nth-child(1), .phone-box-center-wrap ul li:nth-child(2){
    width: 615px;
    height: 610px;
    position: relative;
}

.phone-box-center-wrap ul li:nth-child(1) img,.phone-box-center-wrap ul li:nth-child(2) img {
    width: 460px;
    height: 460px;
    /* margin-top: 70px; */
    /* position: absolute; */
    
}

.phone-box-center-wrap ul li:nth-child(1) h4,.phone-box-center-wrap ul li:nth-child(2) h4 {
    color: #333;
    font-size: 28px;
    font-weight: normal;
    margin-top: 50px;
}

.phone-box-center-wrap ul li:nth-child(1) p,.phone-box-center-wrap ul li:nth-child(2) p {
    color: #333;
    font-size: 18px;
    margin-top: 10px;
}

.phone-box-center-wrap ul li:nth-child(1) h3,.phone-box-center-wrap ul li:nth-child(2) h3 {
    color: #c00;
    font-size: 22px;
    font-weight: normal;
    margin-top: 10px;
} 

.phone-box-center-wrap ul li:nth-child(2),.phone-box-center-wrap ul li:nth-child(6),.phone-box-center-wrap ul li:nth-child(10) {
    margin-right: 0;
}

.phone-box-center-wrap ul li:nth-child(3) img,
.phone-box-center-wrap ul li:nth-child(4) img,
.phone-box-center-wrap ul li:nth-child(5) img,
.phone-box-center-wrap ul li:nth-child(6) img,
.phone-box-center-wrap ul li:nth-child(7) img,
.phone-box-center-wrap ul li:nth-child(8) img,
.phone-box-center-wrap ul li:nth-child(9) img,
.phone-box-center-wrap ul li:nth-child(10) img {
    width: 230px;
    height: 230px;
}

.phone-box-center-wrap ul li:nth-child(3) h4,
.phone-box-center-wrap ul li:nth-child(4) h4,
.phone-box-center-wrap ul li:nth-child(5) h4,
.phone-box-center-wrap ul li:nth-child(6) h4,
.phone-box-center-wrap ul li:nth-child(7) h4,
.phone-box-center-wrap ul li:nth-child(8) h4,
.phone-box-center-wrap ul li:nth-child(9) h4,
.phone-box-center-wrap ul li:nth-child(10) h4 {
    color: #333;
    font-size: 16px;
    margin-top: 40px;
}

.phone-box-center-wrap ul li:nth-child(3) p,
.phone-box-center-wrap ul li:nth-child(4) p,
.phone-box-center-wrap ul li:nth-child(5) p,
.phone-box-center-wrap ul li:nth-child(6) p,
.phone-box-center-wrap ul li:nth-child(7) p,
.phone-box-center-wrap ul li:nth-child(8) p,
.phone-box-center-wrap ul li:nth-child(9) p,
.phone-box-center-wrap ul li:nth-child(10) p {
    color: #999;
    font-size: 14px;
    margin-top: 5px;
}

.phone-box-center-wrap ul li:nth-child(3) h3,
.phone-box-center-wrap ul li:nth-child(4) h3,
.phone-box-center-wrap ul li:nth-child(5) h3,
.phone-box-center-wrap ul li:nth-child(6) h3,
.phone-box-center-wrap ul li:nth-child(7) h3,
.phone-box-center-wrap ul li:nth-child(8) h3,
.phone-box-center-wrap ul li:nth-child(9) h3,
.phone-box-center-wrap ul li:nth-child(10) h3 {
    color: #c00;
    font-size: 22px;
    margin-top: 5px;
    font-weight: normal;
}
/************************ 手机商品样式 *************************/


.loutinav .loutinav-ul .active {
    background: #999;
    color: white;
}

.loutinav .loutinav-ul li:hover {
    background: #999;
    color: white;
}

.loutinav {
    width: 50px;
    background: white;
    position: fixed;
    top: 150px;
    left: 50px;
    /* border: 1px solid gray; */
    /* display: none; */
}

.loutinav ul li {
    padding: 20px 18px 20px;
    color: gray;
    font-size: 14px;
    border-bottom: 1px solid #999;
    cursor: pointer;
}
/********************** 楼梯样式 ************************/

.voice-box-center-wrap {
    width: 1240px;
    height: 1165px;
    margin: 0 auto;
    text-align: center;
}

.voice-box-center-wrap li {
    float: left;
    position: relative;
    width: 303px;
    height: 375px;
    margin-right: 9px;
    margin-top: 10px;
    background-color: #fff;
    overflow: hidden;
    text-align: center;
}

.voice-box-center-wrap li:nth-child(4),
.voice-box-center-wrap li:nth-child(8),
.voice-box-center-wrap li:nth-child(12) {
    margin-right: 0;
}

.voice-box-center-wrap li:nth-child(1) img,
.voice-box-center-wrap li:nth-child(5) img,
.voice-box-center-wrap li:nth-child(9) img {
    width: 303px;
    height: 375px;
}

.voice-box-center-wrap li:nth-child(1) span,
.voice-box-center-wrap li:nth-child(5) span,
.voice-box-center-wrap li:nth-child(9) span {
    position: absolute;
    top: 270px;
    left: 0;
    width: 100%;
    text-align: center;
}

.voice-box-center-wrap li:nth-child(1) span h4,
.voice-box-center-wrap li:nth-child(5) span h4,
.voice-box-center-wrap li:nth-child(9) span h4 {
    color: #fff;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 0;
}

.voice-box-center-wrap li:nth-child(1) span p,
.voice-box-center-wrap li:nth-child(5) span p,
.voice-box-center-wrap li:nth-child(9) span p {
    color: #fff;
    font-size: 14px;
    margin-top: 5px;
}

.voice-box-center-wrap li:nth-child(1) span h3,
.voice-box-center-wrap li:nth-child(5) span h3,
.voice-box-center-wrap li:nth-child(9) span h3 {
    display: inline-block;
    color: #ebce6b;
    font-size: 22px;
    margin-top: 5px;
    font-style: none;
}

.voice-box-center-wrap li:nth-child(1) span s,
.voice-box-center-wrap li:nth-child(5) span s,
.voice-box-center-wrap li:nth-child(9) span s {
    display: none;
}

.voice-box-center-wrap li:nth-child(2) img,
.voice-box-center-wrap li:nth-child(3) img,
.voice-box-center-wrap li:nth-child(4) img,
.voice-box-center-wrap li:nth-child(6) img,
.voice-box-center-wrap li:nth-child(7) img,
.voice-box-center-wrap li:nth-child(8) img,
.voice-box-center-wrap li:nth-child(10) img,
.voice-box-center-wrap li:nth-child(11) img,
.voice-box-center-wrap li:nth-child(12) img {
    width: 230px;
    height: 230px;
}

.voice-box-center-wrap li:nth-child(2) h4,
.voice-box-center-wrap li:nth-child(3) h4,
.voice-box-center-wrap li:nth-child(4) h4,
.voice-box-center-wrap li:nth-child(6) h4,
.voice-box-center-wrap li:nth-child(7) h4,
.voice-box-center-wrap li:nth-child(8) h4,
.voice-box-center-wrap li:nth-child(10) h4,
.voice-box-center-wrap li:nth-child(11) h4,
.voice-box-center-wrap li:nth-child(12) h4 {
    color: #333;
    font-size: 16px;
    margin-top: 40px;
    font-weight: normal;
}

.voice-box-center-wrap li:nth-child(2) h3,
.voice-box-center-wrap li:nth-child(3) h3,
.voice-box-center-wrap li:nth-child(4) h3,
.voice-box-center-wrap li:nth-child(6) h3,
.voice-box-center-wrap li:nth-child(7) h3,
.voice-box-center-wrap li:nth-child(8) h3,
.voice-box-center-wrap li:nth-child(10) h3,
.voice-box-center-wrap li:nth-child(11) h3,
.voice-box-center-wrap li:nth-child(12) h3 {
    display: inline-block;
    color: #c00;
    font-size: 20px;
    font-weight: normal;
    margin-top: 10px;
}

.voice-box-center-wrap li:nth-child(2) p,
.voice-box-center-wrap li:nth-child(3) p,
.voice-box-center-wrap li:nth-child(4) p,
.voice-box-center-wrap li:nth-child(6) p,
.voice-box-center-wrap li:nth-child(7) p,
.voice-box-center-wrap li:nth-child(8) p,
.voice-box-center-wrap li:nth-child(10) p,
.voice-box-center-wrap li:nth-child(11) p,
.voice-box-center-wrap li:nth-child(12) p {
    color: #999;
    font-size: 14px;
    margin-top: 7px;
}

/* .voice-box-center-wrap li:nth-child(2) h4,
.voice-box-center-wrap li:nth-child(3) h4,
.voice-box-center-wrap li:nth-child(4) h4,
.voice-box-center-wrap li:nth-child(6) h4,
.voice-box-center-wrap li:nth-child(7) h4,
.voice-box-center-wrap li:nth-child(8) h4,
.voice-box-center-wrap li:nth-child(10) h4,
.voice-box-center-wrap li:nth-child(11) h4,
.voice-box-center-wrap li:nth-child(12) h4 {
    color: #333;
    font-size: 16px;
    margin-top: 40px;
    font-weight: normal;
} */
/************************* 魅声模块样式 **************************/

.peijian-box-center-wrap {
    width: 1240px;
    height: 790px;
    margin: 0 auto;
    text-align: center;
}

.peijian-box-center-wrap li {
    float: left;
    position: relative;
    width: 303px;
    height: 375px;
    margin-right: 9px;
    margin-top: 10px;
    background-color: #fff;
    overflow: hidden;
    text-align: center;
}

.peijian-box-center-wrap li:nth-child(4),
.peijian-box-center-wrap li:nth-child(8) {
    margin-right: 0;
}

.peijian-box-center-wrap li:nth-child(1) img,
.peijian-box-center-wrap li:nth-child(5) img {
    width: 303px;
    height: 375px;
}

.peijian-box-center-wrap li:nth-child(2) img,
.peijian-box-center-wrap li:nth-child(3) img,
.peijian-box-center-wrap li:nth-child(4) img,
.peijian-box-center-wrap li:nth-child(6) img,
.peijian-box-center-wrap li:nth-child(7) img,
.peijian-box-center-wrap li:nth-child(8) img{
    width: 230px;
    height: 230px;
}

.peijian-box-center-wrap li:nth-child(2) h4,
.peijian-box-center-wrap li:nth-child(3) h4,
.peijian-box-center-wrap li:nth-child(4) h4,
.peijian-box-center-wrap li:nth-child(6) h4,
.peijian-box-center-wrap li:nth-child(7) h4,
.peijian-box-center-wrap li:nth-child(8) h4,
.peijian-box-center-wrap li:nth-child(10) h4,
.peijian-box-center-wrap li:nth-child(11) h4,
.peijian-box-center-wrap li:nth-child(12) h4 {
    color: #333;
    font-size: 16px;
    margin-top: 40px;
    font-weight: normal;
}

.peijian-box-center-wrap li:nth-child(2) h3,
.peijian-box-center-wrap li:nth-child(3) h3,
.peijian-box-center-wrap li:nth-child(4) h3,
.peijian-box-center-wrap li:nth-child(6) h3,
.peijian-box-center-wrap li:nth-child(7) h3,
.peijian-box-center-wrap li:nth-child(8) h3,
.peijian-box-center-wrap li:nth-child(10) h3,
.peijian-box-center-wrap li:nth-child(11) h3,
.peijian-box-center-wrap li:nth-child(12) h3 {
    display: inline-block;
    color: #c00;
    font-size: 20px;
    font-weight: normal;
    margin-top: 10px;
}

.peijian-box-center-wrap li:nth-child(2) p,
.peijian-box-center-wrap li:nth-child(3) p,
.peijian-box-center-wrap li:nth-child(4) p,
.peijian-box-center-wrap li:nth-child(6) p,
.peijian-box-center-wrap li:nth-child(7) p,
.peijian-box-center-wrap li:nth-child(8) p,
.peijian-box-center-wrap li:nth-child(10) p,
.peijian-box-center-wrap li:nth-child(11) p,
.peijian-box-center-wrap li:nth-child(12) p {
    color: #999;
    font-size: 14px;
    margin-top: 7px;
}
/************************* 配件模块样式 **************************/

.zhoubian-box-center-wrap {
    width: 1240px;
    height: 790px;
    margin: 0 auto;
    text-align: center;
}

.zhoubian-box-center-wrap li {
    float: left;
    position: relative;
    width: 303px;
    height: 375px;
    margin-right: 9px;
    margin-top: 10px;
    background-color: #fff;
    overflow: hidden;
    text-align: center;
}
/************************* 周边模块样式 **************************/
